@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --bg-color: #f3f4f6;
  --text-color: #111827;
  --primary-color: #509717;
  --primary-hover: #2563eb;
  --secondary-color: #e2e6cf;
  --secondary-hover: #4b5563;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

html {
    scroll-behavior: smooth;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

body {
  color: var(--text-color);
  font-family: "Inter", sans-serif;
}

#a {
  color: var(--primary-color);
  background-color: red;
}
